<!doctype html>
<html lang="en">

<head>
	<title>Главная</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- CSS -->
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/css/vendor/icon-sets.css">
	<link rel="stylesheet" href="../static/css/main.min.css">
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="76x76" href="../static/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="../static/img/favicon.png">
</head>

<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- SIDEBAR -->
		<div class="sidebar">
			<div class="brand">
				<a href="{{ url_for('home') }}">
					<h3 style="color: white; margin-top: -7.5%; margin-bottom: -8.5%;">Регистрация акцизных марок</h3>
				</a>
			</div>
			<div class="sidebar-scroll">
				<nav>
					<ul class="nav">
						<li><a href="{{ url_for('home') }}" class="active"><i class="lnr lnr-home"></i> <span>Панель управления</span></a></li>
						<li><a href="{{ url_for('edit') }}" class=""><i class="lnr lnr-pencil"></i> <span>Обновление статуса</span></a></li>
					</ul>
				</nav>
			</div>
		</div>
		<!-- END SIDEBAR -->
		<!-- MAIN -->
		<div class="main">
			<!-- NAVBAR -->
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-btn">
						<button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
					</div>
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu">
							<span class="sr-only">Toggle Navigation</span>
							<i class="fa fa-bars icon-nav"></i>
						</button>
					</div>
					<div id="navbar-menu" class="navbar-collapse collapse">
						<ul class="nav navbar-nav navbar-right">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="../static/img/user.png" class="img-circle" alt="Avatar"> <span>{{ user.username }}</span> <i class="icon-submenu lnr lnr-chevron-down">
									</i></a>
								<ul class="dropdown-menu">
									<li>
										<a href="{{ url_for('logout') }}"><i class="lnr lnr-exit"></i><span>Выход</span>
										</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</nav>
			<!-- END NAVBAR -->
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<h3 class="page-title">Регистрация заказа</h3>
					<div class="row">
						<div class="col-md-6">
							<!-- RECENT PURCHASES -->
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">Регистрационный номер</h3>
								</div>
								<div class="panel-body">
									<form action="" method="post" name="login">
										{{ form.hidden_tag() }} {{ form.reg_number(class="form-control input-lg", placeholder="XXXXXX/17/XXXXXX") }}
										<br>
										<p><b>Первые шесть цифр</b> - код уполномоченного таможенного органа</p>
										<p><b>17</b> - год регистрации</p>
										<p><b>Последние пять цифр</b> - регистрационный номер заявления</p>
										<br>
										<p class="demo-button">
											<button type="submit" class="btn btn-primary">Зарегистрировать</button>
										</p>
									</form>
								</div>
							</div>
						</div>
						<!-- END RECENT PURCHASES -->
						<div class="col-md-6">
							<!-- MULTI CHARTS -->
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">Скачать полную таблицу в формате Excel</h3>
								</div>
								<div class="panel-body">
									<p>
										<form action="{{ url_for('return_files') }}" name="download-file">
											<button type="submit" class="btn btn-primary">Скачать</button>
										</form>
										
									</p>
								</div>
							</div>
							{% if error == 'Validate Error' %}
							<div class="alert alert-danger">
								Ошибка! Проверьте введенные данные.
							</div>
							{% elif error == 'Success' %}
							<div class="alert alert-success">
								Заявление успешно зарегистрированно!
							</div>
							{% endif %}
							<!-- END MULTI CHARTS -->
						</div>
					</div>
					<!-- OVERVIEW -->
					<div class="panel">
						<div class="panel-heading">
							<h3 class="panel-title">Последние зарегистрированные</h3>
						</div>
						<div class="panel-body no-padding">
							<div class="table-responsive">
								<table class="table table-striped">
									<thead>
										<tr>
											<th>Регистрационный номер</th>
											<th>Дата регистрации</th>
											<th>Дата информирования об изготовлении</th>
											<th>Дата принятия обязательства</th>
											<th>Дата принятия обеспечения</th>
											<th>График получения</th>
											<th>Закрытие отчета</th>
											<th>Статус заявления</th>
										</tr>
									</thead>
									<tbody>
										{% for item in table_results %}
										<tr>
											<td>{{ item[0] }}</td>
											<td>{{ item[1] }}</td>
											<td>{{ item[2] }}</td>
											<td>{{ item[3] }}</td>
											<td>{{ item[4] }}</td>
											<td>{{ item[5] }}</td>
											<td>{{ item[6] }}</td>
											<td>{{ item[7].name }}</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<!-- END OVERVIEW -->
				</div>
			</div>
			<!-- END MAIN CONTENT -->
			<footer>
			</footer>
		</div>
		<!-- END MAIN -->
	</div>
	<!-- END WRAPPER -->
	<!-- Javascript -->
	<script src="../static/js/jquery/jquery-2.1.0.min.js"></script>
	<script src="../static/js/bootstrap/bootstrap.min.js"></script>
	<script src="../static/js/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script src="../static/js/plugins/jquery-easypiechart/jquery.easypiechart.min.js"></script>
	<script src="../static/js/plugins/chartist/chartist.min.js"></script>
	<script src="../static/js/klorofil.min.js"></script>
</body>

</html>