<!doctype html>
<html>

<head>
	<title>{{ title }}</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- CSS -->
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/css/vendor/icon-sets.css">
	<link rel="stylesheet" href="../static/css/main.min.css">
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="76x76" href="../static/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="../static/img/favicon.png">
</head>

<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<div class="vertical-align-wrap">
			<div class="vertical-align-middle">
				<div class="container-fluid">
					<div class="col-md-4"></div>
					<div class="col-md-4">
						<div class="panel">
							<div class="panel-heading"></div>
							<div class="panel-body">
								<div class="content">
									<form class="form-auth-small" action="" method="post" name="login">
										{{ form.hidden_tag() }}
                                        <div class="form-group">
											<label for="signup-username" class="control-label sr-only">Имя пользователя</label> {{ form.username(class="form-control", placeholder="Имя пользователя")
											}}
										</div>
										<div class="form-group">
											<label for="signup-email" class="control-label sr-only">Email</label> {{ form.email(class="form-control", placeholder="Email")
											}}
										</div>
										<div class="form-group">
											<label for="signup-password" class="control-label sr-only">Пароль</label> {{ form.password(class="form-control",
											placeholder="Пароль") }}
										</div>
                                        <div class="form-group">
											<label for="signup-level" class="control-label sr-only">Уровень доступа</label> {{ form.level(class="form-control",
											placeholder="Уровень доступа") }}
										</div>
									</label>
										<button type="submit" class="btn btn-primary btn-lg btn-block">Зарегистрировать</button>
										<br>
									</form>
								</div>
							</div>
						</div>
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                {% if "Ошибка!" in message %}
                                    <div class="alert alert-danger">
                                        {{ message }}
                                    </div>
                                {% else %}
                                    <div class="alert alert-success">
                                        Пользователь успешно зарегистрирован!
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END WRAPPER -->
</body>

</html>